<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.guiaturistico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tcc.guiaturistico.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tcc.guiaturistico.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tcc.guiaturistico.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/> //faz com que o teclado não venha aberto ao iniciar a activity
        <activity
            android:name="com.tcc.guiaturistico.activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tcc.guiaturistico.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.tcc.guiaturistico.activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.tcc.guiaturistico.activity.InterestsActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.tcc.guiaturistico.activity.ProfileActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!--localização mais precisa:-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--localização menos precisa:-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>
